# deps
node_modules/
.DS_Store

.env
.env.local

# using instead of .env
config.ts

# build output
build

# another static overlay
static
!src/routes/static

# core modules
core

# cache
.bun-cache
test