@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai:100,200,300,regular,500,600,700);

@import url(./libs/colors.css);

* {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  transition: all .3s;
}

body {
  width: 100%;
  min-height: 100dvh;

  margin: 0;
  padding: 0;

  background: var(--ctp-base);
  color: var(--ctp-text);
}